{% set title = "SIGNIN PAGE" %} {% extends "layout/base.html" %} {% block
content -%}

<div>Sign in Page</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Email</span>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Password</span>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>

<div class="input-group mb-3">
  <a href="/admin/signup">
    <button type="button" class="btn btn-warning">회원가입</button>
  </a>
</div>

{% endblock %}
