{% set title = "SIGNUP PAGE" %} {% extends "layout/base.html" %} {% block
content -%}

<div>Sign Up Page</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Email</span>
  <input
    type="text"
    class="form-control"
    placeholder="Email"
    aria-label="Email"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Password</span>
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    aria-label="Password"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1"
    >Confirm Password</span
  >
  <input
    type="password"
    class="form-control"
    placeholder="Confirm Password"
    aria-label="Confirm Password"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Nickname</span>
  <input
    type="text"
    class="form-control"
    placeholder="Nickname"
    aria-label="Nickname"
    aria-describedby="basic-addon1"
  />
</div>
{% endblock %}
