{% set title = "SIGNUP PAGE" %} {% extends "layout/base.html" %} {% block
content -%}

<div>Sign Up Page</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Email</span>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Password</span>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1"
    >Confirm Password</span
  >
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>
<div class="input-group mb-3">
  <span class="input-group-text btn-warning" id="basic-addon1">Nickname</span>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
</div>
{% endblock %}
