{% extends "layout/base.html" %} {% block content -%}

<div class="input-group3">
  {% if nickname %}
    <div>
      <h2>Hi {{nickname}}</h2>
    </div>
    <a href="/products/write">
      <button type="button" class="btn btn-warning">상품등록</button>
    </a>
    <a href="/admin/signout">
      <button type="button" class="btn btn-warning">로그아웃</button>
    </a>
    <div class="row row-cols-1 row-cols-md-4 g-4">
 {% for product in products %}
    <div class="col">
    <a href="/products/{{product._id}}" style="text-decoration: none">
      <div class="card h-100">
        <img {% if product.images[0] %}
            src="/uploads/{{product.images[0]}}"
            {% else %}
            src="/static/free-icon-tangerine-1450140.png"
            {% endif %}
             class="card-img-top" alt="tangerine-img" />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{product.ownerNickname}}</h6>
          <h5 class="card-text"><strong>{{product.price.toLocaleString()}}원</strong></h5>
          <a href="/products/update/{{product._id}}">
            <button type="button" class="btn btn-warning">수정</button>
          </a>
          <a href="/products/write">
            <button type="button" class="btn btn-warning">삭제</button>
          </a>
        </div>
        <div class="card-footer position-relative">
        <small class="text-muted position-absolute end-0 translate-middle-x ">조회 {{product.views}}회</small>
          <small class="text-muted">{{product.timeDiff}} 전</small>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
</div>

  {% else %}
    <a href="/admin/signin">
      <button type="button" class="btn btn-warning">로그인</button>
    </a>
  {% endif %}
  </div>
</div>

{% endblock %}